button, [type='button'], [type='reset'], [type='submit'], .button {
  appearance: none;
  background-color: #002878;
  border: 0;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1.5em;
  text-align: center;
  text-decoration: none;
  transition: background-color 300ms ease;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover, [type='button']:hover, [type='reset']:hover, [type='submit']:hover, .button:hover {
    background-color: #002060;
    color: #fff; }
  button:focus, [type='button']:focus, [type='reset']:focus, [type='submit']:focus, .button:focus {
    outline: 3px solid rgba(0, 40, 120, 0.6);
    outline-offset: 2px; }
  button:disabled, [type='button']:disabled, [type='reset']:disabled, [type='submit']:disabled, .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover, [type='button']:disabled:hover, [type='reset']:disabled:hover, [type='submit']:disabled:hover, .button:disabled:hover {
      background-color: #002878; }

html {
  box-sizing: border-box; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html,
body {
  height: 100%; }

body {
  margin: 0;
  background-color: #fff; }

nav ul,
nav ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

table {
  border-collapse: collapse;
  margin: 1.5em 0;
  table-layout: fixed;
  text-align: left;
  width: 100%; }

thead {
  line-height: 1.2;
  vertical-align: bottom; }

tbody {
  vertical-align: top; }

tr {
  border-bottom: 1px solid #562700; }

th {
  font-weight: 600; }

th,
td {
  padding: 0.75em 0.75em 0.75em 0; }

html {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
  font-variant-ligatures: normal;
  font-kerning: auto;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 1.5em 0 0.75em 0; }

h1 {
  font-size: 2.44140625em;
  text-align: center; }

h2 {
  margin-top: 0.75em;
  font-size: 1.953125em;
  text-align: center; }

h3 {
  font-size: 1.5625em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1em; }

h6 {
  font-size: 0.8em; }

@media (min-wdith: 800px) {
  h1 {
    font-size: 3.0517578125em;
    text-align: center; }

  h2 {
    margin-top: 0.75em;
    font-size: 2.44140625em;
    text-align: center; }

  h3 {
    font-size: 1.953125em;
    text-align: center; }

  h4 {
    font-size: 1.5625em; }

  h5 {
    font-size: 1.25em; }

  h6 {
    font-size: 1em; } }
p {
  margin: 0 0 0.75em; }

code {
  font-family: "PT Mono",monospace !important; }

a {
  color: #002878;
  transition: color 300ms ease;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto; }
  a:hover {
    color: #001e5a; }
  a:focus {
    outline: 3px solid rgba(0, 40, 120, 0.6);
    outline-offset: 2px; }

hr {
  border-bottom: 1px solid #562700;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1.5em 0; }

body {
  transition: max-height ease; }
  body::after {
    content: "";
    background-image: url("images/0030105-16AB-F-082.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-position-y: bottom;
    filter: sepia(1);
    max-height: 100vh;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    z-index: -1;
    transition: max-height ease; }

header[role=banner] .logo-wrapper {
  background-color: #002878; }
header[role=banner] #logo {
  fill: #fff;
  overflow: hidden;
  padding: 0; }
  @media (min-width: 640px) {
    header[role=banner] #logo {
      max-height: 150px; } }

header.introduction {
  display: flex;
  flex-wrap: wrap;
  min-height: 33vh;
  color: #fff;
  border-radius: 6px;
  position: relative;
  /* &::after {
      content: "";
      background-image: url('images/0030105-16AB-F-082.jpg');
      background-size: cover;
      background-attachment: fixed;
      background-position-y: bottom;
      filter: sepia(1);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
  } */ }
  header.introduction h1 {
    color: currentColor;
    margin: 0; }
  header.introduction p {
    padding-bottom: 2em; }
  header.introduction p, header.introduction h1 {
    flex-basis: 100%;
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5); }
  header.introduction a {
    color: currentColor; }

nav > ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  margin-bottom: 1em;
  background-color: #bdacac; }
  @media screen and (min-width: 640px) {
    nav > ul {
      border: 1px solid #562700;
      border-width: 1px 0;
      flex-direction: row; } }
  nav > ul li {
    display: flex;
    padding: 0.75em;
    border-bottom: 1px solid #562700;
    align-items: center;
    justify-content: center; }
    @media screen and (min-width: 640px) {
      nav > ul li {
        border-bottom: none; } }
    nav > ul li:first-of-type {
      border-top: 1px solid #562700; }
      @media screen and (min-width: 640px) {
        nav > ul li:first-of-type {
          border: none; } }
    nav > ul li a {
      color: #000;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none; }
      nav > ul li a:hover, nav > ul li a:focus {
        color: currentColor;
        text-decoration: underline; }
    nav > ul li.current a {
      text-decoration: underline; }

main {
  max-width: 72ch;
  margin: 0 auto 10vh auto;
  padding: 0 1em; }
  main > article {
    padding: 0.75em;
    background-color: #bdacac;
    border: 1px solid #562700; }
    main > article > p:first-of-type::first-letter {
      font-size: 6em;
      float: left;
      font-weight: 600;
      margin-top: -.1em;
      margin-right: .1em;
      margin-botom: 0;
      line-height: 1; }
    main > article img {
      border: 1px solid #562700;
      margin-bottom: 0.75em;
      padding-top: 0.75em;
      padding-bottom: 0.75em;
      border-width: 1px 0;
      filter: sepia(0.6);
      transition: filter 300ms ease; }
      main > article img:hover {
        filter: sepia(0) saturate(1.25);
        transition: filter 300ms ease; }
    main > article > section {
      margin: 0.75em auto; }
      main > article > section::after {
        clear: both;
        content: "";
        display: block; }

.button-container {
  display: flex;
  justify-content: center; }

#position-description ul {
  padding-left: 1em; }

#search-committee .committee-members {
  margin-top: 5em;
  display: grid;
  grid-gap: 0.75em; }
  @media (min-width: 640px) {
    #search-committee .committee-members {
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); } }
  #search-committee .committee-members > section .title {
    font-style: italic; }

/*# sourceMappingURL=styles.css.map */
